 :root {
    --hero-color:#FFFFFF;
    --title-color:#2E2F42;
    --blue-color:#4D5AE5;
    --gray-color: #e7e9fc;
    --navyblue-color: #404bbf;
    --dark-color: #434455;
    --darkwhite-color: #F4F4FD;

    

 }
/* var(--hero-color);
var(--title-color);
var(--blue-color); */

body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background: var(--hero-color);
}

.link {
        text-decoration: none;
        color: var(--title-color);
}

.list {
    list-style-type: none;
}

.header {
    border-bottom: 1px var(--gray-color);

}


.header-nav {

}

.header-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--blue-color);
text-transform: uppercase;
}
.header-logo span {
color: var(--title-color);
}

.header-menu {

}

.header-menu-item {

}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--title-color);

}
.header-menu-link .link:hover {
        color: var(--navyblue-color);
         cursor: pointer;
}

.header-menu-link .link:focus {
    color: var(--navyblue-color)f;
    cursor: pointer;
}

.link:hover {
    color: var(--navyblue-color);
    cursor: pointer;
}

.link:focus {
    color: var(--navyblue-color);
    cursor: pointer;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    

}

.header-address-item {

}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--dark-color);

}

.hero {
    background: var(--title-color);

}
/* .hero:focus {
    background-color: #404BBF;

}
.hero:hover {
    background-color: #404BBF;

} */

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-color);
    text-align: center;
   
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--hero-color);
    background: var(--blue-color);
    cursor: pointer;

}
.hero-btn:hover {
    background-color: var(--navyblue-color);
    cursor: pointer;
}
.hero-btn:focus {
    background-color: var(--navyblue-color);
    cursor: pointer;
}
/* .header-menu-link:hover {
        background-color: #404BBF;
        cursor: pointer;
    }
.header-menu-link:focus {
    background-color: #404BBF;
    cursor: pointer;
} */


.softskills {
    background: var(--hero-color);

}

.softskills-list {

}

.softskills-item {

}

.softskills-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.softskills--item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--dark-color);

}

.projects {

}

.projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
}

.projects-list {
    
}

.projects-item {

}


.team {
    background: var(--darkwhite-color);

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
}

/* .team-list {
    background-color: #FFFFFF;
} */

.team-item {
    background-color: var(--hero-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--dark-color);

}


.footer {
    background: var(--title-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--blue-color);
    text-transform: uppercase;
}

.footer-logo span {
    color: var(--darkwhite-color);
}

.footer-text {
    color: var(--darkwhite-color);
    letter-spacing: 0.02em;
    line-height: 1.50;

}






.filtr {
 
}



.filtr-button {
   
}


.filtr-button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    background-color: var(--darkwhite-color);
}
.filtr-button-text:hover {
    background-color: var(--navyblue-color);
    color: var(--hero-color);
    cursor: pointer;
}

.filtr-button-text:focus {
    background-color: var(--navyblue-color);
    color: var(--hero-color);
    cursor: pointer;
}

.project-url {
    
}

.projects-list {
    
}
.projects-item {

}

.project-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
     color: var(--title-color);
}

.project-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    background: var(--hero-color);
}


